root = true

[gulp/**.js]
indent_style = space
indent_size = 4

[{.*rc,.*rc.js,package.json,package-lock.json,.travis.yml,*.gs}]
indent_style = space
indent_size = 2

[{.*rc,.*rc.js,package.json,package-lock.json,.travis.yml}]
insert_final_newline = false

[{*.gs}]
insert_final_newline = true
